
@model List<Image>
<!DOCTYPE html>
<html lang="es-ar">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MTControl</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/MTControl.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-100 position-relative container-fluid">

                @if (!IsSectionDefined("NavBarInvisible"))
                {
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-expand-sm   navbar-light bg-light border-bottom box-shadow mb-3 ">
            <div class="container-fluid ">
                <img src="~/img/logo.svg".src alt="Logo" class="img-fluid" />
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1 nav-tabs justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link text-dark ps-5 ms-5" asp-controller="Inicio" asp-action="Index">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark ps-5 ms-5" asp-controller="Profile" asp-action="Profiles">Perfiles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark ps-5 ms-5" asp-controller="Report" asp-action="Report">Informes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark ps-5 ms-5" asp-controller="Faqs" asp-action="Faqs">Ayuda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark ps-5 ms-5" asp-controller="About" asp-action="About">Acerca de</a>
                            </li>

                        </ul>
                        <ul class="navbar-nav flex-grow-1 nav-tabs justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link text-dark ps-5 ms-5" asp-controller="Login" asp-action="Login">Salir</a>
                            </li>
                        </ul>
                    </div>

            </div>
        </nav>

    </header>
                }
                else
                {
                    @RenderSection("NavBarInvisible", false)
                }

    <div class="container">
        <main role="main" class=" flex-grow-1">

            @RenderBody()


        </main>
    </div>

    @Html.Partial( "_Footer" );
     
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
