
@section NavBarInvisible { }
<div class="col-4 mt-3 offset-4">

    <div class="row align-items-center mt-3 center">

        <img src="~/img/logo.svg" alt="Logo" class="img-fluid" />
    </div>
    <div class="row align-items-center mt-3 center">
        <div class="col">
            <h3 class="align-self-center">Bienvenido a MT Control</h3>
        </div>
    </div>
    <partial name="_loginPartial" />
        
    
</div>

