@{
    var imgFooter = TempData["ImgFooter"] as List<Image>;

}
@section NavBarInvisible { }
<div class="col-4 mt-3 offset-4">

    <div class="row align-items-center mt-3 center">
      
            <img src="~/img/logo.svg" alt="Logo" class="img-fluid" />
    </div>
    <div class="row align-items-center mt-3 center">
        <div class="col">
            <p class="mt-3 d-flex text-wrap fs-5  fw-bolder">Ha cerrado sesión correctamente.</p>
            <p class=" mt-3 d-flex text-wrap fs-6 ">Si quiere volver a conectarse vuelva a ingresar sus datos:</p>
        </div>
    </div>
    <partial name="_loginPartial" />
</div>

