@{
    ViewData["Title"] = "ACERCA DE";
}

<div class="text-center text-decoration-underline nombre">
    
</div>
    <div class="container-fluid mt-5 pt-5" >
        <div class="row ">
            <div class="col-md-6">
            <img src="~/img/happy_CPA.jpg" alt="Logo" class="img-fluid" />
                
            </div>
        <div class="col-md-6 align-middle">
                <div class="card-body">
                <h1 class="display-4 card-title nombre text-center">Tech para contadores</h1>
                <p class="text-xxl-start align-items-center  fw-boulder">
                        Somos una empresa de software abocada a las soluciones para el contador de la era de los cambios abruptos, proceso automáticos, IA y . Expertos en desarrollar soluciones web personalizadas para contadores. Nuestras aplicaciones optimizan tus procesos diarios, automatizando tareas repetitivas y liberando tu valioso tiempo para enfocarte en lo que realmente importa: asesorar a tus clientes.
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="card-text">
    
        
    </div>

