@{
    ViewData["Title"] = "Faqs";
}

<div class="text-center">
    <h1 class="display-4">PROXIMAMENTE LA AYUDA</h1>
    <img src="https://i.pinimg.com/originals/83/aa/e2/83aae2f0a620c51a07d96967e1d3f3a5.jpg" alt="Logo" class="img-fluid" />
</div>
