@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PROXIMAMENTE EL HOME</h1>
    <div class="row">
        <div class="col-10 justify-content-center">
            <img src="https://i.pinimg.com/originals/83/aa/e2/83aae2f0a620c51a07d96967e1d3f3a5.jpg" alt="Logo" class="img-fluid" />
        </div>
    </div>
</div>
