@{
    ViewData [ "Title" ] = "Faqs";
}

<h1>Preguntas frecuentes</h1>
<p> En esta sección encontrarás preguntas frecuentes y sus respuestas. Las vamos actualizando permanentemente a medida que liberamos nuevas funcionalidades y cambios por compliance</p>

<div class="accordion accordion-flush" id="FaqAcordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="FaqEncabezado1">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#FaqPrimerColapsado" aria-expanded="false" aria-controls="FaqPrimerColapsado">
                <h5>Cómo se registra un perfil?</h5>
            </button>
        </h2>
        <div id="FaqPrimerColapsado" class="accordion-collapse collapse" aria-labelledby="FaqEncabezado1" data-bs-parent="#FaqAcordion">
            <div class="accordion-body">Ingrese a la opción de menú "Perfiles"" desde la barra de navegaciíon o los Accesos directos de la página de inicio. Eso le dará acceso a la grilla de perfiles ya registrados. Luego haga clic en "Agregar". Se deplegará la pantalla con los campos a completar. Una vez que termine de completar todos los datos haga clic en "Guardar".</div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="FaqEncabezado2">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#FaqSegundoColapsado" aria-expanded="false" aria-controls="FaqSegundoColapsado">
                <h5>¿Cómo se emite el informe? </h5>
            </button>
        </h2>
        <div id="FaqSegundoColapsado" class="accordion-collapse collapse" aria-labelledby="FaqEncabezado2" data-bs-parent="#FaqAcordion">
            <div class="accordion-body">
                Ingrese a la opción de menú "Informes"" desde la barra de navegación o los Accesos directos de la página de inicio. Eso le dará acceso a la grilla con el último informe ejecutado. Luego haga clic en "Ejecutar". La aplicación tomará los datos de los perfiles y realizará los controles a partir de los parametros vigentes del Régimen Simplificado. Una vez que el proceso termine, se podrá visualizar el resultado en pantalla o exportarlo a excel y / o pdf.
            </div>
        </div>
    </div>

</div>