@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ultimas noticias</h1>
    <div class="container-fluid">
        <div class="row align-items-lg-center">
            <div class="col-lg-9 col-md-12">
                <div id="carouselNoticias" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselNoticias" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselNoticias" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselNoticias" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/img/AFIP.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>ARCA lanza régimen de facilidades de pago por aplicación incorrecta de quebrantos</h5>
                                <p>A través de la RG 5683/2025, la Agencia de Recaudación y Control Aduanero habilitó un nuevo mecanismo simplificado de ingreso del impuesto a las ganancias y actualizó los montos que obligan a presentar información patrimonial y liquidación anual.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="~/img/plan de pago.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>ARCA modifica el cálculo de anticipos del impuesto a las ganancias</h5>
                                <p>La Resolución General 5685/2025 establece nuevos criterios de actualización por IPC para el período fiscal 2025 y reduce a nueve los anticipos para sociedades desde diciembre..</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="~/img/afip4ta.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Empleados: novedades en la liquidación anual de Ganancias y DJ informativa de Bienes Personales</h5>
                                <p>A través de la RG 5683/2025, la Agencia de Recaudación y Control Aduanero habilitó un nuevo mecanismo simplificado de ingreso del impuesto a las ganancias y actualizó los montos que obligan a presentar información patrimonial y liquidación anual..</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselNoticias" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselNoticias" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 mt-md-3">
                <div class="card">
                    <div class="card-header">
                       <h3> Vencimientos de hoy</h3>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                <p class=" fs-5 text-decoration-underline d-inline">DDJJ IVA</p>
                                <p class=" fs-6 d-sm-inline-none d-inline">CUIT terminados en 0</p>
                                
                            </div>
                            </li>
                        <li class="list-group-item">
                            <div class="row">
                                <p class=" fs-5 text-decoration-underline d-inline">F931</p>
                                <p class=" fs-6 d-sm-inline-none d-inline">CUIT terminados en 0-1-2-3</p>

                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <p class=" fs-5 text-decoration-underline d-inline">Monotributo</p>
                                <p class=" fs-6 d-sm-inline-none d-inline">CUIT: todos</p>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

